*, root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
    border-style: dashed;
    border-color: gray;
    text-align: center;
    border-width: 0;
    color: white;
    list-style-type: none;
}

.toptitle {
    font-size: 32px;
}

.navbar-menu {
    display: grid;
    filter: invert(1);
    justify-self: right;
}

.burger {
    height: inherit;
}

.main-navigation {
    display: none;
}

.header {
    display: grid;
    grid-template-columns: 4% 10% 1fr 10% 4%;
    height: 40px;
    align-items: center;
}

header {
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-color: blue;
    border-top-width: 1px;
}

.logo {
    height: inherit;
    grid-column-start: 2;
}


.banner {
    width: 100%;
    max-height: 150px;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.search_bar {
    display: grid;
    grid-template-columns: 20px 1fr;
    height: 40px;
    border-width: 1px;
    border-color: red;
    border-style: solid;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.4);
    align-content: center;
}

.search_field {
    text-align: left;
    background-color: transparent;
    color: white;
    width: 100%;
    border: 0 none;
    height: 100%;
}

::placeholder {
    color: white;
}


.glass {
    height: inherit;
    filter: invert(1);
}

.filter-and-sort {
    display: grid;
    grid-template-columns: 4% 1fr 20% 1fr 4%;
    height: 40px;
}

.filter {
    grid-column-start: 2;
    display: grid;
    align-items: center;
}

.sort {
    grid-column-start: 4;
    display: grid;
    align-items: center;
}

.sort-and-filter {
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 1px 1px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid darkgreen;
}

.sort-and-filter1 {
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 1px 1px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid darkgreen;
}

.sort-and-filter:hover {
    background-color: green;
}

.page-number {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 4% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4%;
}


.site-change {
    height: 30px;
    display: grid;
    align-items: center;
}

.first-site {
    grid-column-start: 2;
}

.site-number {
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 1px 1px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid darkmagenta;
}

.site-number:hover {
    background-color: magenta;
}

body {
    display: grid;
    grid-template-columns: 100%;
    background-color: black;
}

.main {
    grid-column-start: 1;
}

.cover {
    grid-column-start: 2;
    width: 100%;
    max-width: 100px;
}

.text {
    grid-column-start: 4;
}

section {
    display: grid;
    grid-template-columns: 4% 1fr 4%;
}

.article {
    grid-column-start: 2;
    border-style: solid;
    border-color: orange;
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    border-width: 1px;
    padding: 5px 0;
    margin: 5px 0;
}

.subarticle {
    display: grid;
    grid-template-columns: 5% 40% 5% 1fr 5%;
    justify-items: center;
}

.download {
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 1px 1px;
    cursor: pointer;
    width: 90%;
    border-radius: 2px;
    border: 1px solid blue;
    margin-top: 5px;
}

.download:hover {
    background-color: dodgerblue;
}

.up-button {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.up:hover {
    background-color: red;
}

.up {
    grid-column-start: 2;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: darkred;
    border-radius: 5px;
    border-width: 1px;
    background-color: transparent;
}

.copyright {
    font-size: 8px;
    height: 20px;
    display: grid;
    align-items: center;
    border-top-style: solid;
    border-top-color: blue;
    border-top-width: 1px;
}

.filter-drop-down {
    display: block;
    background-color: black;
    position: relative;
    z-index: 9999;
}

.sort-drop-down {
    display: block;
    background-color: black;
    position: relative;
    z-index: 9998;
}

li {
    border-color: blueviolet;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

.main-navigation {
    display: none;
}

/*
@media screen and (min-device-width: 900px) {
    .hidden-in-desktop {
        display: none;
    }

    .hidden-in-mobile {
        display: grid;
    }
    header {
        display: grid;
        grid-template-columns: 40% 20% 40% ;
    }

    .burger {
        display: none;
    }

    .drop-down {
        display: grid;
        grid-template-columns: 33% 1fr 33% ;
    }
}

 /*



    *, root {
    text-align: left;
    }

    body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    }

    .main {
    grid-column-start: 2;
    }
}
